<a class = "btn btn-primary" href = "./questions.handlebars" role="button">Create New Application</a>
<a class = "btn btn-primary" href = "./eligibility.handlebars" role="button">Status of Your Application</a>