<a class = "btn btn-primary" href = "./questions.handlebars" role="button">Edit Your Application</a>
<a class = "btn btn-primary" href = "./eligibility.handlebars" role="button">Convert Application to PDF if Eligible</a>
<a class = "btn btn-primary" href = "./index.handlebars" role="button">Delete Your Application</a>
