<a id="results" class = "btn btn-primary"  role="button">View Results</a>

<div id="eligibleTitle"></div>


<button class = "btn btn-primary" id="editApp" role="button">Edit Your Application</button>
<button id="deleteApp" class = "btn btn-primary"  role="button">Delete Your Application</button>

<script src="../js/verfication.js"></script>
