<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{!-- <a class="navbar-brand" href="/">UnHacked Unemployment</a> --}}
      <a class="navbar-brand" href="/">
    <img src="/images/logo.jpg" width="130" height="70" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
 <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a id="editApp" class="dropdown-item" href="/eligibility">Edit Application</a>
          <a class="dropdown-item" href="/">Log Out</a>
        </div>
      </li>
  <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Additional Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://www.usa.gov/unemployment">Unemployment Help</a>
            <a class="dropdown-item" href="https://www.usa.gov/unemployment#item-214601">Unemployment Benefits during Covid-19</a>
            <a class="dropdown-item" href="https://www.benefits.gov/compass/article/320">Unemployment Assistance</a>
          </div>
        </li>
    </ul>
  </div>
</nav>

<div class = "jumbotron">
    <button id="results" class = "btn btn-primary btn-lg btn-block"  role="button">View Results</button>
    <div id="eligibleTitle"></div>
</div>
<footer class="footer">
<!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/ChristineDang/group-project-2"> UnHacked</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<script src="../js/verfication.js"></script>
