<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{!-- <a class="navbar-brand" href="/">UnHacked Unemployment</a> --}}
    <a class="navbar-brand" href="/">
    <img src="/images/logo.jpg" width="130" height="70" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
       <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
  <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Additional Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://www.usa.gov/unemployment">Unemployment Help</a>
            <a class="dropdown-item" href="https://www.usa.gov/unemployment#item-214601">Unemployment Benefits during Covid-19</a>
            <a class="dropdown-item" href="https://www.benefits.gov/compass/article/320">Unemployment Assistance</a>
          </div>
        </li>
    </ul>
  </div>
    </ul>
  </div>
</nav>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../images/blue.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h1 class = "welcome">Welcome to UnHacked Unemployment</h1>
          <h4>A faster and more efficient way to register for unemployment.</h4>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>  
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../images/unemp.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../images/covid.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br>
<br>

{{!-- <form class = "form-signin"> --}}
  {{!-- <div class="form-group">
    <h3>Login:</h3>
    <label for="exampleInputEmail2"></label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword2"></label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div> --}}
<div class="text-center">
  <button id="signIn" class="btn btn-primary">Create An Application</button>
</div>
  {{!-- <button class="btn btn-primary" id="createAccount">Create Account</button> --}}
{{!-- </form> --}}





{{!-- <div id="createModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create New Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button id="submitModal" type="submit" class="btn btn-primary">Submit</button>
            </form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> --}}

<br>

<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="/contact">Contact</a>
        </h6>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem">UnHacked Unemployment speeds up your unemployment 
          application process by pre-checking your eligibility status within minutes and 
          giving you a thumbs up before you apply to your State's unemployment website.
        </p>
      </div>
      <!-- Grid column -->

    </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/ChristineDang/group-project-2"> UnHacked</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<script src="../js/frontPage.js"></script>
