<h1>Questionnaire</h1>
        <li>
            <p>Social Security Number:</p>
            <input id="socialNum">

            <p>First Name:</p>
            <input id="firstName" type="text">

            <p>Last Name:</p>
            <input id = "lastName">

            <p>Street Address:</p>
            <input id = "streetAddress">

            <p>City:</p>
            <input id = "city">

            <p>State:</p>
            <input id = "state">

            <p>Zip Code:</p>
            <input id = "zipCode">

            <p>Phone Number:</p>
            <input id = "phoneNum">

            <p>Birth Date:</p>
            <input id = "birthDate">
        </li>
<h1>Work History</h1>
        <li>
            <p>Employer Name:</p>
            <input id = "empName">

            <p>Job Address:</p>
            <input id = "jobAddress">

            <p>Job City:</p>
            <input id = "jobCity">

            <p>Main State Location:</p>
            <input id = "mainStateLoc">

            <p>Work Zip Code:</p>
            <input id = "workZip">

            <p>Company Phone Number:</p>
            <input id = "companyPhone">

            <p>First Start Date:</p>
            <input id = "firstStartDate">

            <p>Last Date Worked:</p>
            <input id = "lastDateWorked">

            <p>Days Worked:</p>
            <input id = "daysWorkd">

            <p>States Worked:</p>
            <input id = "statesWorked">

            <p>Reason For Unemployment:</p>
            <textarea id = "reasonUnemployed" type = "text"></textarea>
        </li>
<h1>Eligibility Information</h1>
        <li>
            <p>Quarter Pay:</p>
            <input id = "quaterPay">

            <p>Base Earnings:</p>
            <input id = "baseEarnings">

            <label for = "ableWork">Ability to Work:</label>
             <select name="ableWork" id="ableWork">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>

            <label for = "jobLossFault">Job Loss Fault:</label>
            <select name="jobLossFault" id="jobLossFault">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </li>
<h1>Payment Information</h1>
        <li>
            <p>Bank Name:</p>
            <input id = "bankName">

            <p>Routing Number:</p>
            <input id = "routingNumber">

            <p>Account Number:</p>
            <input id = "accountNumber">
        </li>

<button id="submit">submit</button>

<script src="../js/questions.js"></script>