body {
  background-color: white;
}

.list-group-item {
  line-height: 2.5;
}

.form-signin {
  text-align: center;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  border: 2px solid gray;
  border-radius: 25px;
  background-color: white;
}

.d-block {
  height: 500px;
}

.jumbotron {
  margin-bottom: unset;
}

.carousel-caption {
  
}

.questionnaire {
  padding: 20px;
  margin: 15px;
  border-radius: 25px;
  background-color: white;

}

#questions {
  text-align: center;
}

#accountJumbo {
  text-align: center;
}

/* .form-results {
  text-align: center;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin-right: auto;
  margin-left: 10%;
  border: 2px solid gray;
  background-color: white;
} */

.account {
  text-align: center;
  width: 100%;
  max-width: 330px;
  padding: 25px;
  margin-left: auto;
  margin-right: 10%;
  margin-top: auto;
  border: 2px solid gray;
  border-radius: 0px;
  background-color: white;
}

.error{
      outline: 1px solid red;
    }    
